    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background: #f4f4f4;
        padding: 20px;
    }

    h2 {
        margin-bottom: 15px;
    }

    /* Parent Container */
    .parent {
        position: relative;
        background: #d6eaf8;
        border: 3px solid #3498db;
        height: 400px;
        margin-bottom: 100px;
        padding: 20px;
    }

    /* Static */
    .static-box {
        background: #f9e79f;
        border: 2px solid #f1c40f;
        padding: 20px;
        margin-bottom: 10px;
        position: static;
    }

    /* Relative */
    .relative-box {
        background: #abebc6;
        border: 2px solid #27ae60;
        padding: 20px;
        width: 200px;
        position: relative;
        left: 50px;
        top: 10px;
        z-index: 11;
    }

    /* Absolute */
    .absolute-box {
        background: #f5b7b1;
        border: 2px solid #e74c3c;
        padding: 20px;
        width: 200px;
        position: absolute;
        top: 120px;
        right: 1100px;
        z-index: 10;
    }
    /* Fixed */
    .fixed-box {
        position: fixed;
        bottom: 20px;
        right: 200px;
        background: #2c3e50;
        color: white;
        padding: 15px;
        border-radius: 8px;
    }

    /* Sticky */
    .sticky-box {
        position: sticky;
        top: 0;
        background: #ff7675;
        color: white;
        padding: 15px;
        margin-bottom: 20px;
        z-index: 100;
    }

    .content {
        height: 1200px;
        background-color: #3498db;
        padding: 40px;
        border-radius: 10px;

    }